@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

.page-header {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 3000;
}

.page-header nav {
  display: block;
}

.page-header nav a {
  margin-left: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Bowlby One SC", cursive;

  &:first-child {
    margin-left: 0;
  }
}

nav {
  a {
    color: black !important;
    cursor: url("https://img.icons8.com/metro/26/000000/musical-notes.png"),
      auto;
  }
}
.page-header__wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  align-items: center;

  border-bottom: 1px solid black;

  .social-media-wrapper {
    display: flex;
    align-items: flex-start;
    width: 150px;
    height: auto;

    > a {
      width: 50px;
      color: black;
      cursor: url("https://img.icons8.com/metro/26/000000/musical-notes.png"),
        auto;
    }
  }

  @media all and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 24px;

    nav {
      margin-top: 24px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;

      a {
        // background-color: rgba(0, 0, 0, 0.05);
        margin-left: 10px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 18px;
      }
    }
    .navigation-toggle-mobile-menu {
      position: absolute;
      right: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
      font-family: sequel\95, sans-serif;
      color: #fff;
      font-size: 13px;

      @media (min-width: 380px) {
        right: 2rem;
      }

      .burger {
        display: block;
        position: relative;
        height: 10px;
        width: 3rem;
        margin-left: 1rem;
        margin-top: -3px;

        .burger__line {
          display: block;
          position: absolute;
          left: 0;
          height: 3px;
          width: 100%;
          background-color: #000;
          transition: transform 0.25s cubic-bezier(0.77, 0, 0.175, 1);
        }
        .burger__line:first-of-type {
          top: 0;
          transform-origin: top left;
        }
        .burger__line:last-of-type {
          transform-origin: bottom left;
          bottom: 0;
        }

        @media screen and (min-width: 768px) {
          display: none;
        }
      }

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .page-header__title h1 {
      font-size: 20px;
      line-height: 28px;
    }

    .logo-container {
      --size: 64px;
    }
  }
  @media all and (max-width: 475px) {
    padding: 20px;

    .page-header__title h1 {
      font-size: 18px;
      line-height: 24px;
    }
    .page-header__title h2 {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.page-header small {
  font-size: 8px;
  text-transform: uppercase;
  font-family: Montserrat, tahoma, verdana, sans-serif;
}

.page-header small a {
  font-weight: bold;
}

.page-header__wrapper > :nth-child(1),
.page-header__wrapper > :nth-child(2) {
}

.animated .page-header__wrapper > :nth-child(1),
.animated .page-header__wrapper > :nth-child(2) {
  transition: transform 335ms cubic-bezier(0.05, 0.55, 0.15, 1);
}

.animated .page-header__wrapper > :nth-child(2) {
  transition-delay: 0.125s;
}

.page-header__title {
  display: flex;
  align-items: center;
}

.page-header__title h1 {
  font-size: 24px;
  font-family: "Bowlby One SC", cursive;
  display: block;
}

.page-header__title h2 {
  color: #fff;
  font-family: Montserrat, tahoma, verdana, sans-serif;
  display: block;
  font-size: 14px;
  display: block;
}

.page-header__title > div {
  margin-left: 8px;
}

.page-header__title h1 span {
  font-family: Montserrat, tahoma, verdana, sans-serif;
  display: inline-block;
}
.page-header__title h1 span:first-child {
  margin-right: 10px;
  color: #000000;
}

.page-header a.selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.page-header a:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.visible .page-header__wrapper > :nth-child(1),
.visible .page-header__wrapper > :nth-child(2) {
  transform: translateY(0);
}
